[submodule "agriconnect-config"]
	path = agriconnect-config
	url = https://github.com/Warllam/agriconnect-config
[submodule "agriconnect-actionneurs"]
	path = agriconnect-actionneurs
	url = https://github.com/Eliott-Tixier/agriconnect-actionneurs
[submodule "agriconnect-releves"]
	path = agriconnect-releves
	url = https://github.com/Warllam/agriconnect-releves
