[submodule "agriconnect-config"]
	path = agriconnect-config
	url = https://github.com/Warllam/agriconnect-config
[submodule "agriconnect-actionneurs"]
	path = agriconnect-actionneurs
	url = https://github.com/Eliott-Tixier/agriconnect-actionneurs
[submodule "agriconnect-releves"]
	path = agriconnect-releves
	url = https://github.com/Warllam/agriconnect-releves
[submodule "agriconnect-capteurs"]
	path = agriconnect-capteurs
	url = https://github.com/Eliott-Tixier/agriconnect-capteurs
[submodule "agriconnect-annuraire"]
	path = agriconnect-annuraire
	url = https://github.com/Martin-Billard/agriconnect-annuaire.git
[submodule "agriconnect-gatewaw"]
	path = agriconnect-gatewaw
	url = https://github.com/Eliott-Tixier/agriconnect-gateway
